body {
    background-image: linear-gradient(#733733 2%, #dcc1c0);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#title {
    position: fixed;
    transform: translate(-50%, -50%) scale(1.9, 1.5);
    left: 50vw;
    font-size: -webkit-xxx-large;
    font-family: monospace;
    color: #fd9843;
    top: 5vh;
    text-shadow: 4px -1px 0px rgba(255,255,255,0.5);
    letter-spacing: 3px;
}