body {
    background-color: darkgrey;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0px;
    user-select: none;
}

#_F {color: bisque;}
#_O1 {color: #fa9d82;}
#_O2 {color: #ff8b8b;}
#_D {color: bisque;}
#_I {color: #fa9d82;}
#_E {color: #ff8b8b;}

#title {
    transform: scale(2.6, 1.5);
    font-size: -webkit-xxx-large;
    font-family: monospace;
    text-shadow: 4px -1px 0px #b39492;
    text-align: center;
    position: fixed;
    display: none;
}

@media (max-aspect-ratio: 4/3) {
    .slider {
        display: flex;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: y mandatory;
        flex-flow: column nowrap;
    }

    .slide {
        flex-shrink: 0;
        scroll-snap-align: center;
    }

    #food-modals {
        position: fixed;
        width: 100vw;
        height: 100vh;
        overflow: scroll;
    }

    .food-modal {
        color: transparent;
        transition-duration: 0.15s;
        width: 100vw;
        height: 75vw;
        /*transform: translate(0px, -50%);*/
        margin: 8vh 0;
    }

    .food-img {
        height: inherit;
        margin-left: 50vw;
        box-shadow: 0px 0px 12px -1px #b39492;
        transform: translate(-50%, 0%);
        cursor: pointer;
        width: inherit;
        position: absolute;
    }

    .food-note {
        height: 70.8vw;
        width: 62vw;
        color: floralwhite;
        font-size: x-large;
        padding: 2vw;
        overflow: scroll;
        background-color: rgba(166, 120, 70, 0.8);
        border-top-right-radius: 3vw;
        border-bottom-right-radius: 3vw;
        border: 1px dashed black;
        border-left-width: 0;
        transform: translate(-101%, 0%);
        z-index: 1;
        transition-duration: 0.3s;
        position: absolute;
        cursor: pointer;
        text-align: -webkit-center;
        white-space: pre-wrap;
    }

    .show {
        transition-duration: 0.2s;
        transform: translate(0%, 0%);
    }

    .food-date {
        width: -webkit-fill-available;
        height: fit-content;
        color: white;
        font-size: large;
        position: absolute;
        text-align: right;
        padding-right: 2vw;
        letter-spacing: 1vh;
        font-style: italic;
        padding-top: 1vw;
    }
}

@media (min-aspect-ratio: 4/3) {
    .slider {
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
    }

    .slide {
        flex-shrink: 0;
        scroll-snap-align: start;
    }

    #food-modals {
        position: fixed;
        width: 100vw;
        height: 100vh;
        overflow: scroll;
    }

    .food-modal {
        color: transparent;
        transition-duration: 0.15s;
        width: 100vw;
        height: 99.9vh;
    }

    .food-img {
        height: inherit;
        margin-left: 50vw;
        box-shadow: 0px 0px 12px -1px #b39492;
        transform: translate(-50%, 0%);
        cursor: pointer;
        width: 133.2vh;
        position: absolute;
    }

    .food-note {
        height: 95.7vh;
        width: 45vw;
        color: floralwhite;
        font-size: x-large;
        padding: 2vh;
        overflow: scroll;
        background-color: rgba(166, 120, 70, 0.8);
        border-bottom-left-radius: 3vw;
        border-bottom-right-radius: 3vw;
        border: 1px dashed black;
        border-top-width: 0;
        transform: translate(-50%, -100%);
        z-index: 1;
        transition-duration: 0.3s;
        position: absolute;
        cursor: pointer;
        text-align: -webkit-center;
        white-space: pre-wrap;
        margin-left: 50vw;
        overflow-x: hidden;
    }

    .show {
        transition-duration: 0.2s;
        transform: translate(-50%, 0%);
    }

    .food-date {
        width: 100vh;
        height: fit-content;
        color: white;
        font-size: large;
        position: absolute;
        text-align: right;
        letter-spacing: 1vh;
        font-style: italic;
        padding-top: 1vw;
        transform: translate(-37%, 0);
        margin-left: 50vw;
    }
}

/*border-top-right-radius: 6vw 3vw;*/
/*a dátumnak a sávja nem kattintható

    szürkévé tenni a képeket.
    beállítani egy kisebb elemet még a note-ba ami tartalmazza a szöveget, hogy a görgető ne
        menjen ki a lekerekített mezőből
    lehet a noteban jobbra görgetni, ezt meg kell szüntetni.
    Az indentálást el lehetne dönteni hogyan legyen
    A note háttere barna maradjon, ha amúgy a deszkázat fekete-fehér lesz?
    Ma még gondolkodtam valami naptár lehetőségen
    A kis képen is gondolkodtam magamról, hogy hova lehetne rakni
    Léptetésen gondolkodtam még, de nincs egyértelmű ötletem rá, ami tuti fix menő

*/